.footer_wrapper {
  background-color: rgba(0, 0, 0, 0.255);
  padding: 20px 0;
}

.footer_wrapper .footer-logo img {
  width: 100px;
}

.footer_wrapper .social-icon li {
  margin: 10px;
}

.footer_wrapper .social-icon a {
  width: 35px;
  height: 35px;
  line-height: 32px;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #c6c9d8bf;
  color: #c6c9d8bf;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.45, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.45, 0.355, 1);
}

.footer_wrapper .social-icon a:hover {
  background-color: #fd4766;
  border-color: #fd4766;
  color: #fff;
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 100%);
  transform: translateY(-3px);
}
